:root {
  --ifm-color-primary: #3a5a40;
  --ifm-color-primary-dark: #2f4a34;
  --ifm-color-primary-darker: #2a422f;
  --ifm-color-primary-darkest: #203226;
  --ifm-color-primary-light: #4b6f4e;
  --ifm-color-primary-lighter: #557a59;
  --ifm-color-primary-lightest: #6a8f6e;
}
